.root {
  background-color: teal;
  padding: 20px;
  margin-top: 10px;
  border-radius: 30px;
}
.main {
  display: flex;
  justify-content: space-between;
}
.col {
  text-align: center;
}
