.app_root {
  display: grid;
  place-items: center;
  background-color: #282c34;
  height: 100vh;
  
}
.app_body {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 500px;
  min-width: 350px;
}